extends ../layout
    
block content
  .container
    h1= survey.title
    h3 설문응답 (#{survey.numAnswer})
      table.table
        tr
          th 설문답변
          th 응답자
          th 설문 응답일
        each answer in answers
            tr
              td= answer.answer
              td= answer.email
              td= moment(answer.createdAt).format('YYYY/MM/DD')
              
              
    form.form-inline(action='/surveys/' + survey._id + '/answers', method='POST')
      .form-group
        label.sr-only(for='email') email
      .form-group
        label.sr-only(for='content') content
    
    hr
    a.btn.btn-default(href='/results') 목록 
