extends ../layout

block content
 .container
  h1 설문 목록
  
  table.table
    tr
      th 설문제목
      th 설문 작성자
      th 설문유형
      th 설문 응답
      th 설문에 대한 의견
      th 설문 작성일
      th
    each survey in surveys
      tr
        td
          a(href='/surveys/#{survey.id}')= survey.title
        td= survey.email
        td= survey.type
        td= survey.numAnswer
        td= survey.numComment
        td= moment(survey.createdAt).format('YYYY/MM/DD')
        td
          a.btn.btn-xs.btn-default(href='/surveys/#{survey.id}/edit') 수정
          | 
          a.btn.btn-xs.btn-default(href='/surveys/#{survey.id}?_method=DELETE') 삭제
          
  a.btn.btn-primary(href='/surveys/new') 설문 작성

  nav.center
    ul.pagination
      li(class=pagination.firstPage.cls): a(href=pagination.firstPage.url)
        span(aria-hidden="true") &laquo;
      li(class=pagination.prevPage.cls): a(href=pagination.prevPage.url)
        span(aria-hidden="true") &lt;
      each page in pagination.pages
        li(class=page.cls)
          a(href=page.url): span= page.text
      li(class=pagination.nextPage.cls): a(href=pagination.nextPage.url)
        span(aria-hidden="true") &gt;
      li(class=pagination.lastPage.cls): a(href=pagination.lastPage.url)
        span(aria-hidden="true") &raquo;
