extends ../layout

block content
  h1= survey.title
  h3 by #{survey.email}
  .well= survey.content

  hr
  h3 Comment (#{survey.numComment})
  table.table
    tr
      th email
      th content
      th time
    each comment in comments
      tr
        td= comment.email
        td= comment.content
        td= moment(comment.createdAt).format('YYYY/MM/DD')

  form.form-inline(action='/surveys/' + survey._id + '/comments', method='POST')
    .form-group
      label.sr-only(for='email') email
      input.form-control(name='email', placeholder='email')
    .form-group
      label.sr-only(for='content') content
      input.form-control(name='content', size=50, placeholder='content')
    button.btn.btn-info 설문 답변하기

  hr
  a.btn.btn-default(href='/surveys') 목록
